@import '~bootstrap/scss/bootstrap';

img {
  max-width: 100%;
}

#admin{
    height: 100vh;
    display:flex;
    overflow-y: hidden;
  
    #wrapper{
      flex-grow: 1;
      overflow-y: auto;
    }
    #sidebarMenu {
      background-color: black;
      color: white;
    }
  }